 @page "/Hp/Organisation/{ID}"

@using ICWebApp.Components.Components.Homepage.Frontend.Questionnaire
@using ICWebApp.Components.Components.Homepage.Frontend.Help
@using ICWebApp.Components.Components.Homepage.Frontend.Authority
@using ICWebApp.Components.Components.Homepage.Frontend.Organisation
@using ICWebApp.Components.Components.Homepage.Frontend.Documents
@using ICWebApp.Components.Components.Homepage.Frontend.Address

@if (Item != null)
{
    @if (Item.FILE_FileInfo_ID != null)
    {
        <div class="container-fluid my-3">
            <div class="row">
                <figure class="figure px-0 img-full">
                    <img src="@ImageHelper.GetFilePath(Item.FILE_FileInfo_ID.Value)" class="figure-img img-fluid" alt="@Item.Title" title="@Item.Title">
                </figure>
            </div>
        </div>
    }
    <div class="container">
        <div class="row border-top border-light row-column-border row-column-menu-left">
            <aside class="col-lg-4">
                <AnchorList></AnchorList>
            </aside>
            <section class="col-lg-8 it-page-sections-container border-light">
                @if (!StringHelper.MarkupStringIsNullOrWhiteSpace(Item.Description))
                {
                    <Anchor Title="@TextProvider.Get("FRONTEND_HOMEPAGE_NEWS_DESCRIPTION")" ID="descrizione" Order="0">
                        <div class="richtext-wrapper lora">
                            @((MarkupString)Item.Description)                   
                        </div>
                    </Anchor>
                }
                @if (People != null && People.Any())
                {
                    @foreach(var group in People.OrderBy(p => p.GroupSortOrderID).Select(p => p.TypeGroup).Distinct())
                    {
                        var person = People.FirstOrDefault(p => p.TypeGroup == group);
                        int id = 2;

                        if (person != null && person.GroupSortOrderID != null)
                        {
                            id = id + person.GroupSortOrderID.Value;
                        }

                        <Anchor Title="@group" ID="@group" Order="@id">
                            <div class="row">
                                @foreach (var p in People.Where(p => p.TypeGroup == group).OrderBy(p => p.SortOrder).ToList())
                                {
                                    <PersonItemSmall Item="@p"></PersonItemSmall>
                                }
                            </div>
                        </Anchor>
                    }
                }
                @if (Documents != null && Documents.Any())
                {
                    <Anchor Title="@TextProvider.Get("FRONTEND_HOMEPAGE_NEWS_DOCUMENTS")" ID="documents" Order="3">
                        <div class="row">
                            @foreach (var doc in Documents)
                            {
                                <DocumentsItemSmall Document="@doc"></DocumentsItemSmall>
                            }
                        </div>
                    </Anchor>
                }
                @if (Item != null && !string.IsNullOrEmpty(Item.ContactName) ||
               !string.IsNullOrEmpty(Item.ContactEMail) ||
               !string.IsNullOrEmpty(Item.ContactPECMail) ||
               !string.IsNullOrEmpty(Item.ContactPhone))
                {
                    <Anchor Title="@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT")" ID="contatto" Order="23">
                        @if (!string.IsNullOrEmpty(Item.ContactName))
                        {
                            <div class="cmp-icon-link contact-title">
                                <span class="list-item-title-icon-wrapper">
                                    <span class="list-item"><strong>@Item.ContactName</strong></span>
                                </span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Item.ContactPhone))
                        {
                            <div class="cmp-icon-link mt-2 contact-title">
                                <strong>@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT_PHONE")</strong>
                                <a class="list-item icon-left" href="tel:@Item.ContactPhone" aria-label="Telefono">
                                    <span class="list-item-title-icon-wrapper">
                                        <span class="list-item t-primary">@Item.ContactPhone</span>
                                    </span>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Item.ContactEMail))
                        {
                            <div class="cmp-icon-link mt-2 contact-title">
                                <strong>@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT_EMAIL")</strong>
                                <a class="list-item icon-left" href="mailto:@Item.ContactEMail" aria-label="E-Mail">
                                    <span class="list-item-title-icon-wrapper">
                                        <span class="list-item t-primary">@Item.ContactEMail</span>
                                    </span>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Item.ContactPECMail))
                        {
                            <div class="cmp-icon-link mt-2 contact-title">
                                <strong>@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT_EMAIL_PEC")</strong>
                                <a class="list-item icon-left" href="mailto:@Item.ContactPECMail" aria-label="PEC E-Mail">
                                    <span class="list-item-title-icon-wrapper">
                                        <span class="list-item t-primary">@Item.ContactPECMail</span>
                                    </span>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Item.ContactName))
                        {
                            <div class="mt-5">
                                <a target="_blank" href="@ContactHelper.GetFilePath(Item.ContactName, PhoneNumber: Item.ContactPhone, EMail: Item.ContactEMail, PECMail: Item.ContactPECMail)" class="btn btn-outline-primary btn-icon">
                                    <svg class="icon icon-primary" aria-hidden="true">
                                        <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-plus-circle"></use>
                                    </svg>
                                    <span>@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT_ADD_TO_CONTACTS")</span>
                                </a>
                            </div>
                        }
                    </Anchor>
                }
                @if (Item.Managed_HOME_Person_ID != null || Item.Managed_AUTH_Authority_ID != null)
                {
                    <Anchor Title="@TextProvider.Get("FRONTEND_HOMEPAGE_NEWS_MANAGED_BY")" ID="a-cura-di" Order="10">
                        <div class="row">
                            @if (Item.Managed_AUTH_Authority_ID != null)
                            {
                                <div class="col-12 col-sm-8">
                                    <h6><small>@TextProvider.Get("FRONTEND_CONTENT_MANAGED_AUTHORITY")</small></h6>
                                    <AuthorityItemSmall HOME_Authority_ID="@Item.Managed_AUTH_Authority_ID.Value" CssColumn="false"></AuthorityItemSmall>
                                </div>
                            }
                            @if (Item.Managed_HOME_Person_ID != null)
                            {
                                <div class="col-12 col-sm-4">
                                    <h6><small>@TextProvider.Get("FRONTEND_CONTENT_MANAGED_PERSONS")</small></h6>
                                    <ul class="d-flex flex-wrap gap-1 mt-2">
                                        <li>
                                            <ICWebApp.Components.Components.Homepage.Frontend.Person.PersonChip HOME_Person_ID="@Item.Managed_HOME_Person_ID.Value"></ICWebApp.Components.Components.Homepage.Frontend.Person.PersonChip>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </Anchor>
                }
                @if (Item.LastChangeDate != null)
                {
                    <article id="ultimo-aggiornamento" class="it-page-section mt-5">
                        <h4 class="h6">
                            @TextProvider.Get("FRONTEND_CONTENT_LAST_MODIFICATION")
                            <span class="h6 fw-normal">@Item.LastChangeDate.Value.ToString("dd/MM/yyyy, HH:mm")</span>
                        </h4>
                    </article>
                }
            </section>
        </div>
    </div>
}