@page "/Hp/Association/{ID}"

@using ICWebApp.Components.Components.Homepage.Frontend.Questionnaire
@using ICWebApp.Components.Components.Homepage.Frontend.Help
@using ICWebApp.Components.Components.Homepage.Frontend.Authority
@using ICWebApp.Components.Components.Homepage.Frontend.Association
@using ICWebApp.Components.Components.Homepage.Frontend.Documents
@using ICWebApp.Components.Components.Homepage.Frontend.Address

@if (Item != null)
{
    @if (Item.FILE_FileInfo_ID != null)
    {
        <div class="container-fluid my-3">
            <div class="row">
                <figure class="figure px-0 img-full">
                    <img src="@ImageHelper.GetFilePath(Item.FILE_FileInfo_ID.Value)" class="figure-img img-fluid" alt="@Item.Title" title="@Item.Title">
                </figure>
            </div>
        </div>
    }
    <div class="container">
        <div class="row border-top border-light row-column-border row-column-menu-left">
            <aside class="col-lg-4">
                <AnchorList></AnchorList>
            </aside>
            <section class="col-lg-8 it-page-sections-container border-light">
                @if (!StringHelper.MarkupStringIsNullOrWhiteSpace(Item.Description))
                {
                    <Anchor Title="@TextProvider.Get("FRONTEND_HOMEPAGE_NEWS_DESCRIPTION")" ID="descrizione" Order="0">
                        <div class="richtext-wrapper lora">
                            @((MarkupString)Item.Description)                   
                        </div>
                    </Anchor>
                }
                @if (People != null && People.Any())
                {
                    @foreach (var group in People.OrderBy(p => p.SortOrder).Select(p => p.Type).Distinct())
                    {
                        var person = People.FirstOrDefault(p => p.Type == group);
                        int id = 2;

                        if (person != null && person.SortOrder != null)
                        {
                            id = id + person.SortOrder.Value;
                        }

                        <Anchor Title="@group" ID="@group" Order="@id">
                            <div class="row">
                                @foreach (var p in People.Where(p => p.Type == group).OrderBy(p => p.SortOrder).ToList())
                                {
                                    <PersonItemSmall Item="@p"></PersonItemSmall>
                                }
                            </div>
                        </Anchor>
                    }
                }
                @if (Documents != null && Documents.Any())
                {
                    <Anchor Title="@TextProvider.Get("FRONTEND_HOMEPAGE_NEWS_DOCUMENTS")" ID="documents" Order="31">
                        <div class="row">
                            @foreach (var doc in Documents)
                            {
                                <DocumentsItemSmall Document="@doc"></DocumentsItemSmall>
                            }
                        </div>
                    </Anchor>
                }   @if (!string.IsNullOrEmpty(Item.PhoneNr) ||
                         !string.IsNullOrEmpty(Item.EMail) ||
                         !string.IsNullOrEmpty(Item.PecEmail) ||
                         !string.IsNullOrEmpty(Item.Website))
                {
                    <Anchor Title="@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT")" ID="contatto" Order="32">
                        @if (!string.IsNullOrEmpty(Item.PhoneNr))
                        {
                            <div class="cmp-icon-link contact-title">
                                <strong>@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT_PHONE")</strong>
                                <a class="list-item icon-left" href="tel:@Item.PhoneNr" aria-label="Telefono">
                                    <span class="list-item-title-icon-wrapper">
                                        <span class="list-item t-primary">@Item.PhoneNr</span>
                                    </span>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Item.PhoneNrMobile))
                        {
                            <div class="cmp-icon-link contact-title">
                                <strong>@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT_PHONE_MOBILE")</strong>
                                <a class="list-item icon-left" href="tel:@Item.PhoneNrMobile" aria-label="Telefono">
                                    <span class="list-item-title-icon-wrapper">
                                        <span class="list-item t-primary">@Item.PhoneNrMobile</span>
                                    </span>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Item.EMail))
                        {
                            <div class="cmp-icon-link mt-2 contact-title">
                                <strong>@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT_EMAIL_SECONDARY")</strong>
                                <a class="list-item icon-left" href="mailto:@Item.EMail" aria-label="E-Mail">
                                    <span class="list-item-title-icon-wrapper">
                                        <span class="list-item t-primary">@Item.EMail</span>
                                    </span>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Item.PecEmail))
                        {
                            <div class="cmp-icon-link mt-2 contact-title">
                                <strong>@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT_EMAIL_PEC")</strong>
                                <a class="list-item icon-left" href="mailto:@Item.PecEmail" aria-label="PEC E-Mail">
                                    <span class="list-item-title-icon-wrapper">
                                        <span class="list-item t-primary">@Item.PecEmail</span>
                                    </span>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Item.Website))
                        {
                            <div class="cmp-icon-link mt-2 contact-title">
                                <strong>@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT_WEBSITE")</strong>
                                <a class="list-item icon-left" href="@Item.Website" aria-label="Homepage">
                                    <span class="list-item-title-icon-wrapper">
                                        <span class="list-item t-primary">@Item.Website</span>
                                    </span>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Item.Title))
                        {
                            <div class="mt-5">
                                <a target="_blank" href="@ContactHelper.GetFilePath(Item.Title, PhoneNumber: Item.PhoneNr, PhoneNumberMobile: Item.PhoneNrMobile, EMail: Item.EMail, PECMail: Item.PecEmail)" class="btn btn-outline-primary btn-icon">
                                    <svg class="icon icon-primary" aria-hidden="true">
                                        <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-plus-circle"></use>
                                    </svg>
                                    <span>@TextProvider.Get("FRONTEND_HOMEPAGE_CONTACT_ADD_TO_CONTACTS")</span>
                                </a>
                            </div>
                        }
                    </Anchor>
                }
                @if (!string.IsNullOrEmpty(Item.Adress))
                {
                    <Anchor Title="@TextProvider.Get("FRONTEND_HOMEPAGE_ADDRESS_CONTAINER")" ID="indirizzo" Order="33">
                        <Map Address="@Item.Adress"
                             Latitude="@Item.Lat"
                             Longitude="@Item.Lang" />
                    </Anchor>
                }
                @if (Item.Managed_HOME_Person_ID != null || Item.Managed_AUTH_Authority_ID != null)
                {
                    <Anchor Title="@TextProvider.Get("FRONTEND_HOMEPAGE_NEWS_MANAGED_BY")" ID="a-cura-di" Order="34">
                        <div class="row">
                            @if (Item.Managed_AUTH_Authority_ID != null)
                            {
                                <div class="col-12 col-sm-8">
                                    <h6><small>@TextProvider.Get("FRONTEND_CONTENT_MANAGED_AUTHORITY")</small></h6>
                                    <AuthorityItemSmall HOME_Authority_ID="@Item.Managed_AUTH_Authority_ID.Value" CssColumn="false"></AuthorityItemSmall>
                                </div>
                            }
                            @if (Item.Managed_HOME_Person_ID != null)
                            {
                                <div class="col-12 col-sm-4">
                                    <h6><small>@TextProvider.Get("FRONTEND_CONTENT_MANAGED_PERSONS")</small></h6>
                                    <ul class="d-flex flex-wrap gap-1 mt-2">
                                        <li>
                                            <PersonChip HOME_Person_ID="@Item.Managed_HOME_Person_ID.Value"></PersonChip>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </Anchor>
                }
                @if (Item.LastChangeDate != null)
                {
                    <article id="ultimo-aggiornamento" class="it-page-section mt-5">
                        <h4 class="h6">
                            @TextProvider.Get("FRONTEND_CONTENT_LAST_MODIFICATION")
                            <span class="h6 fw-normal">@Item.LastChangeDate.Value.ToString("dd/MM/yyyy, HH:mm")</span>
                        </h4>
                    </article>
                }
            </section>
        </div>
    </div>
}