@page "/AcceptRegistrationPrivacy/{UserId}"

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="privacy-box">
                @if (Privacy != null)
                {
                    var text = (MarkupString)(Privacy.Description);

                    <SfSwitch @bind-Checked="_privacyAccepted" OnLabel="@TextProvider.Get("YES")" OffLabel="@TextProvider.Get("NO")"></SfSwitch>
                    <br />

                    <label>@text</label>
                    <div class="extra-small-element-separator"></div>
                }
                <SfSwitch @bind-Checked="_privacyMuniciplityAccepted" OnLabel="@TextProvider.Get("YES")" OffLabel="@TextProvider.Get("NO")"></SfSwitch>
                <br />
                @{
                    var textmun = new MarkupString(TextProvider.Get("REG_PRIVACY_MARKUP_COMUNIX"));
                }
                <label>@textmun</label>
                <div class="extra-small-element-separator"></div>
                <SfSwitch @bind-Checked="_privacyCommunicationsAccepted" OnLabel="@TextProvider.Get("YES")" OffLabel="@TextProvider.Get("NO")"></SfSwitch>
                <br />
                @{
                    var textCom = new MarkupString(TextProvider.Get("REG_PRIVACY_MARKUP_COMMUNICATION"));
                }
                <label>@textCom</label>
                <div class="extra-small-element-separator"></div>
                @if (_displayPrivacyNotAcceptedError)
                {
                    <div class="extra-small-element-separator"></div>
                    <label style="color:red;">@TextProvider.Get("PRIVACY_BOOL_ERROR")</label>
                }
                <div class="element-separator"></div>
                <button class="btn btn-primary" type="button" @onclick="Submit">@TextProvider.Get("PRIVACY_ACCEPT")</button>
            </div>
        </div>
    </div>
</div>