@if (Municipality != null && MunicipalityFooter != null)
{
    if (IsHomepage)
    {
        <footer class="it-footer" id="footer">
            <div class="it-footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-12 footer-items-wrapper logo-wrapper">
                            @if (Municipality.EU_Logo_Active == true)
                            {
                                <img class="ue-logo" height="56" width="178" src="images/frontend/logo-eu-inverted.svg" alt="logo Unione Europea">
                            }
                            <div class="it-brand-wrapper">
                                <a href="#">
                                    @if (Municipality.Logo != null)
                                    {
                                        var base64String = string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Municipality.Logo));

                                        <div class="icon">
                                            <img class="icon-img" height="60px" width="47px" aria-hidden="true" src="@base64String" />
                                        </div>
                                    }
                                    <div class="it-brand-text">
                                        <h2 class="no_toc">@TextProvider.Get("FRONTEND_HEADER_BRANDING_DESCRIPTION") @Municipality.Name</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 footer-items-wrapper">
                            <h3 class="footer-heading-title">
                                @TextProvider.Get("HP_MAINMENU_VERWALTUNG")
                            </h3>
                            <div class="menu-amministrazione-container">
                                <ul id="menu-amministrazione" class="footer-list">
                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Organisation")" @onclick="@(() => GoToUrl("/hp/Organisation"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FRONTEND_ORGANISATIONS")</a></li>
                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Authority")" @onclick="@(() => GoToUrl("/hp/Authority"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FRONTEND_AUTHORITIES")</a></li>
                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Association")" @onclick="@(() => GoToUrl("/hp/Association"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FRONTEND_ASSOCIATIONS")</a></li>
                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Type/Person/" + PersonType.Politician)" @onclick="@(() => GoToUrl("/hp/Type/Person/" + PersonType.Politician))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FRONTEND_POLITICIANS")</a></li>
                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Type/Person/" + PersonType.Employee)" @onclick="@(() => GoToUrl("/hp/Type/Person/" + PersonType.Employee))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FRONTEND_EMPLOYEES")</a></li>
                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Document")" @onclick="@(() => GoToUrl("/hp/Document"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FRONTEND_DOCUMENTS")</a></li>
                                </ul>
                            </div>
                        </div>
                        @if (Categories != null && Categories.Any())
                        {
                            <div class="col-md-6 footer-items-wrapper">
                                <h3 class="footer-heading-title">
                                    @TextProvider.Get("HOMEPAGE_FOOTER_SERVICE_CATEGORIES")
                                </h3>
                                <div class="row">
                                    @foreach (var cat in Categories.OrderBy(p => p.Title).ToList())
                                    {
                                        @if (!string.IsNullOrEmpty(cat.Url) && !string.IsNullOrEmpty(cat.Title))
                                        {
                                            <div class="col-md-6">
                                                <div class="menu-categorie-di-servizio-container">
                                                    <ul id="menu-categorie-di-servizio" class="footer-list">
                                                        <li><a href="@(NavManager.BaseUri.TrimEnd('/') + cat.Url)" @onclick="@(() => GoToUrl(cat.Url))" @onclick:stopPropagation="true">@cat.Title</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    }                               
                                </div>
                            </div>
                        }
                        <div class="col-md-3 footer-items-wrapper">
                            @if (Newstypes != null && Newstypes.Any())
                            {
                                <h3 class="footer-heading-title">
                                    @TextProvider.Get("HP_MAINMENU_NEWS")
                                </h3>
                                <div class="footer-list">
                                    <ul id="menu-novita" class="footer-list">
                                        @foreach (var type in Newstypes.OrderBy(p => p.Type).ToList())
                                        {
                                            <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Type/News/" + type.ID)" @onclick="@(() => GoToUrl("/Hp/Type/News/" + type.ID))" @onclick:stopPropagation="true">@type.Type</a></li>
                                        }
                                    </ul>
                                </div>
                            }
                            <h3 class="footer-heading-title">
                                @TextProvider.Get("HP_MAINMENU_DORFLEBEN")
                            </h3>
                            <div class="menu-vivere-il-comune-container">
                                <ul id="menu-vivere-il-comune" class="footer-list">
                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Location")" @onclick="@(() => GoToUrl("/hp/Location"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FOOTER_LOCATION")</a></li>
                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Event")" @onclick="@(() => GoToUrl("/hp/Event"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FOOTER_EVENTS")</a></li>
                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Newsletter")" @onclick="@(() => GoToUrl("/hp/Newsletter"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FOOTER_NEWSLETTER")</a></li>
                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Media")" @onclick="@(() => GoToUrl("/hp/Media"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FOOTER_MEDIA")</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 footer-items-wrapper">
                            <h3 class="footer-heading-title">@TextProvider.Get("AGID_FOOTER_CONTACT")</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="footer-info">
                                        @TextProvider.Get("FRONTEND_HEADER_BRANDING_DESCRIPTION") @Municipality.Name<br />
                                        @MunicipalityFooter.Address - @MunicipalityFooter.Location<br />
                                        @if (!string.IsNullOrEmpty(Municipality.TaxNumber))
                                        {
                                            @TextProvider.Get("AGID_FOOTER_FISCAL_DATA") @Municipality.TaxNumber
                                        }
                                        <br><br>
                                        @if (Municipality.ShowGreenSupportNumber == true)
                                        {
                                            <span>@TextProvider.Get("HOMEPAGE_ASSISTANCE_GREEN_NUMBER"): 800500522</span><br />
                                        }
                                        @TextProvider.Get("AGID_FOOTER_CONTACT_PHONE") @MunicipalityFooter.Phone<br>
                                        @TextProvider.Get("AGID_FOOTER_CONTACT_EMAIL") @MunicipalityFooter.Email<br>
                                        @TextProvider.Get("AGID_FOOTER_CONTACT_PEC_EMAIL") <a href="mailto:@MunicipalityFooter.PEC" class="list-item" title="PEC @Municipality.Name">@MunicipalityFooter.PEC</a><br>
                                        @if (!string.IsNullOrEmpty(MunicipalityFooter.CodiceUnivoco))
                                        {
                                            <br>
                                            @TextProvider.Get("AGID_FOOTER_CODICE_UNIVOCO") @MunicipalityFooter.CodiceUnivoco
                                            <br>
                                        }       
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="menu-info-1-container">
                                        <ul id="menu-info-1" class="footer-list">
                                            <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Faq")" @onclick:stopPropagation="true" @onclick="@(() => GoToUrl("/hp/Faq"))" data-element="faq">@TextProvider.Get("HOMEPAGE_FOOTER_READ_FAQ")</a></li>
                                            <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Request")" @onclick:stopPropagation="true" @onclick="@(() => GoToUrl("/Hp/Request"))" data-element="appointment-booking">@TextProvider.Get("HOMEPAGE_ASSISTANCE_RESERVATION")</a></li>
                                            <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Mantainance/Landing")" @onclick:stopPropagation="true" @onclick="@(() => GoToUrl("/Mantainance/Landing"))" data-element="report-inefficiency">@TextProvider.Get("HOMEPAGE_ASSISTANCE_NOTIFY")</a></li>
                                            <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Assistance")" @onclick:stopPropagation="true" @onclick="@(() => GoToUrl("/hp/Assistance"))" data-element="contacts">@TextProvider.Get("HOMEPAGE_ASSISTANCE_HELP")</a></li>
                                            <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/AmministrazioneTrasparente")" @onclick:stopPropagation="true" @onclick="@(() => GoToUrl("/Hp/AmministrazioneTrasparente"))" data-element="transparency">@TextProvider.Get("HOMEPAGE_FOOTER_TRANSPARENT_AMMINISTRATION")</a></li>
                                            <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Privacy")" @onclick:stopPropagation="true" @onclick="@(() => GoToUrl("/Hp/Privacy"))" data-element="privacy-policy-link">@TextProvider.Get("HOMEPAGE_FOOTER_PRIVACY")</a></li>
                                            <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/")" @onclick:stopPropagation="true" @onclick="@(() => GoToUrl("/"))" data-element="legal-notes">@TextProvider.Get("HOMEPAGE_FOOTER_LEGAL_NOTES")</a></li>
                                            <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/attuazione-misure-pnrr")" @onclick:stopPropagation="true" @onclick="@(() => GoToUrl("/attuazione-misure-pnrr"))" data-element="legal-notes">@TextProvider.Get("HOMEPAGE_FOOTER_PNRR")</a></li>
                                            @if(Accessibility != null && !string.IsNullOrEmpty(Accessibility.Link))
                                            {
                                                <li><a href="@Accessibility.Link" @onclick:stopPropagation="true" target="_blank" data-element="accessibility-link">@TextProvider.Get("HOMEPAGE_FOOTER_ACCESSIBILITY_DECLARATION")</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Accessibility")" @onclick:stopPropagation="true" @onclick="@(() => GoToUrl("/Hp/Accessibility"))" data-element="accessibility-link">@TextProvider.Get("HOMEPAGE_FOOTER_ACCESSIBILITY_DECLARATION")</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 footer-items-wrapper">
                            <h3 class="footer-heading-title">@TextProvider.Get("AGID_FOOTER_OPENING_SCHEDULE")</h3>
                            <ul class="footer-list">
                                <li>
                                    <p>
                                        @((MarkupString)MunicipalityFooter.OpeningHours)
                                    </p>
                                </li>
                            </ul>
                        </div>

                        @if (!string.IsNullOrEmpty(Municipality.Soc_Twitter) || !string.IsNullOrEmpty(Municipality.Soc_Facebook) || 
                             !string.IsNullOrEmpty(Municipality.Soc_Youtube) || !string.IsNullOrEmpty(Municipality.Soc_Telegramm) || 
                             !string.IsNullOrEmpty(Municipality.Soc_Whatsapp) || !string.IsNullOrEmpty(Municipality.Soc_RSS) ||
                             (ThematicSites != null && ThematicSites.Any()))
                        {
                            <div class="col-md-3 footer-items-wrapper">
                                @if (!string.IsNullOrEmpty(Municipality.Soc_Twitter) || !string.IsNullOrEmpty(Municipality.Soc_Facebook) ||
                               !string.IsNullOrEmpty(Municipality.Soc_Youtube) || !string.IsNullOrEmpty(Municipality.Soc_Telegramm) ||
                               !string.IsNullOrEmpty(Municipality.Soc_Whatsapp) || !string.IsNullOrEmpty(Municipality.Soc_RSS))
                                {
                                    <h3 class="footer-heading-title">@TextProvider.Get("AGID_FRONTEND_FOLLOW_US")</h3>
                                    <ul class="list-inline text-start social footer-list">
                                        @if (!string.IsNullOrEmpty(Municipality.Soc_Twitter))
                                        {
                                            <li class="list-inline-item">
                                                <a class="p-1 text-white" href="@Municipality.Soc_Twitter" target="_blank">
                                                    <svg class="icon icon-sm icon-white align-top">
                                                        <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-twitter"></use>
                                                    </svg>
                                                    <span class="visually-hidden">Twitter</span>
                                                </a>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(Municipality.Soc_Facebook))
                                        {
                                            <li class="list-inline-item">
                                                <a class="p-1 text-white" href="@Municipality.Soc_Facebook" target="_blank">
                                                    <svg class="icon icon-sm icon-white align-top">
                                                        <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-facebook"></use>
                                                    </svg>
                                                    <span class="visually-hidden">Facebook</span>
                                                </a>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(Municipality.Soc_Youtube))
                                        {
                                            <li class="list-inline-item">
                                                <a class="p-1 text-white" href="@Municipality.Soc_Youtube" target="_blank">
                                                    <svg class="icon icon-sm icon-white align-top">
                                                        <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-youtube"></use>
                                                    </svg>
                                                    <span class="visually-hidden">YouTube</span>
                                                </a>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(Municipality.Soc_Telegramm))
                                        {
                                            <li class="list-inline-item">
                                                <a class="p-1 text-white" href="@Municipality.Soc_Telegramm" target="_blank">
                                                    <svg class="icon icon-sm icon-white align-top">
                                                        <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-telegram"></use>
                                                    </svg>
                                                    <span class="visually-hidden">Telegram</span>
                                                </a>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(Municipality.Soc_Instagram))
                                        {
                                            <li class="list-inline-item">
                                                <a class="p-1 text-white" href="@Municipality.Soc_Instagram" target="_blank">
                                                    <svg class="icon icon-sm icon-white align-top">
                                                        <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-instagram"></use>
                                                    </svg>
                                                    <span class="visually-hidden">Instagram</span>
                                                </a>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(Municipality.Soc_Whatsapp))
                                        {
                                            <li class="list-inline-item">
                                                <a class="p-1 text-white" href="@Municipality.Soc_Whatsapp" target="_blank">
                                                    <svg class="icon icon-sm icon-white align-top">
                                                        <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-whatsapp"></use>
                                                    </svg>
                                                    <span class="visually-hidden">Whatsapp</span>
                                                </a>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(Municipality.Soc_RSS))
                                        {
                                            <li class="list-inline-item">
                                                <a class="p-1 text-white" href="@Municipality.Soc_RSS" target="_blank">
                                                    <svg class="icon icon-sm icon-white align-top">
                                                        <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-rss"></use>
                                                    </svg>
                                                    <span class="visually-hidden">RSS</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                                @if(ThematicSites != null && ThematicSites.Any())
                                {
                                    <h3 class="footer-heading-title">
                                        @TextProvider.Get("HP_ADDITIONAL_SITES")
                                    </h3>
                                    <div class="menu-vivere-il-comune-container">
                                        <ul id="menu-vivere-il-comune" class="footer-list">
                                            @foreach(var ts in ThematicSites.OrderBy(p => p.Title))
                                            {
                                                @if (!string.IsNullOrEmpty(ts.Url))
                                                {
                                                    <li><a href="@ts.Url" @onclick:stopPropagation="true" target="_blank">@ts.Title</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Sites/" + ts.ID)" @onclick="@(() => GoToUrl("/hp/Sites/" + ts.ID))" @onclick:stopPropagation="true">@ts.Title</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        }                       
                    </div>
                    <div class="row">
                        <div class="col-12 footer-items-wrapper">
                            <div class="footer-bottom">
                                <a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Sitemap")" @onclick="@(() => GoToUrl("/hp/Sitemap"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FOOTER_SITEMAP")</a>
                                <a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Impressum")" @onclick="@(() => GoToUrl("/hp/Impressum"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_FOOTER_IMPRESSUM")</a>                                
                                <a href="@(NavManager.BaseUri.TrimEnd('/') + "/Hp/Cookies")" @onclick="@(() => GoToUrl("/hp/Cookies"))" @onclick:stopPropagation="true">@TextProvider.Get("HOMEPAGE_GO_TO_COOKIE_PAGE")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (SessionWrapper != null && SessionWrapper.CurrentUser != null)
            {
                <div style="display: none !important" id="UserID">
                    @SessionWrapper.CurrentUser.ID
                </div>
            }
        </footer>
    }
    else
    {
        <footer class="it-footer" id="footer">
            <div class="it-footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-12 footer-items-wrapper logo-wrapper">
                            @if (Municipality.EU_Logo_Active == true)
                            {
                                <img class="ue-logo" src="images/frontend/logo-eu-inverted.svg" alt="logo Unione Europea">
                            }
                            <div class="it-brand-wrapper">
                                <a href="#">
                                    @if (Municipality.Logo != null)
                                    {
                                        var base64String = string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Municipality.Logo));

                                        <div class="icon">
                                            <img class="icon-img" aria-hidden="true" src="@base64String" />
                                        </div>
                                    }
                                    <div class="it-brand-text">
                                        <h2 class="no_toc">@TextProvider.Get("FRONTEND_HEADER_BRANDING_DESCRIPTION") @Municipality.Name</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 footer-items-wrapper">
                            <h3 class="footer-heading-title">@TextProvider.Get("AGID_FOOTER_CONTACT")</h3>
                            <ul class="footer-list">
                                <li>
                                    <p>
                                        @TextProvider.Get("FRONTEND_HEADER_BRANDING_DESCRIPTION") @Municipality.Name<br>
                                        @MunicipalityFooter.Address - @MunicipalityFooter.Location<br>
                                        @if (!string.IsNullOrEmpty(Municipality.TaxNumber))
                                        {
                                            @TextProvider.Get("AGID_FOOTER_FISCAL_DATA") @Municipality.TaxNumber<br>
                                        }
                                        <br>
                                        @TextProvider.Get("AGID_FOOTER_CONTACT_EMAIL") @MunicipalityFooter.Email<br>
                                        @TextProvider.Get("AGID_FOOTER_CONTACT_PEC_EMAIL") @MunicipalityFooter.PEC<br>
                                        @TextProvider.Get("AGID_FOOTER_CONTACT_PHONE") @MunicipalityFooter.Phone<br>
                                        @if (!string.IsNullOrEmpty(MunicipalityFooter.CodiceUnivoco))
                                        {
                                            <br>
                                            @TextProvider.Get("AGID_FOOTER_CODICE_UNIVOCO") @MunicipalityFooter.CodiceUnivoco<br>
                                        }
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-items-wrapper">
                            <h3 class="footer-heading-title">@TextProvider.Get("AGID_FOOTER_OPENING_SCHEDULE")</h3>
                            <ul class="footer-list">
                                <li>
                                    <p>
                                        @((MarkupString)MunicipalityFooter.OpeningHours)
                                    </p>
                                </li>
                            </ul>
                        </div>

                        @if (!string.IsNullOrEmpty(Municipality.Soc_Twitter) || !string.IsNullOrEmpty(Municipality.Soc_Facebook) || !string.IsNullOrEmpty(Municipality.Soc_Youtube) || !string.IsNullOrEmpty(Municipality.Soc_Telegramm) || !string.IsNullOrEmpty(Municipality.Soc_Whatsapp) || !string.IsNullOrEmpty(Municipality.Soc_RSS))
                        {
                            <div class="col-md-3 footer-items-wrapper">
                                <h3 class="footer-heading-title">@TextProvider.Get("AGID_FRONTEND_FOLLOW_US")</h3>
                                <ul class="list-inline text-start social">
                                    @if (!string.IsNullOrEmpty(Municipality.Soc_Twitter))
                                    {
                                        <li class="list-inline-item">
                                            <a class="p-1 text-white" href="@Municipality.Soc_Twitter" target="_blank">
                                                <svg class="icon icon-sm icon-white align-top">
                                                    <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-twitter"></use>
                                                </svg>
                                                <span class="visually-hidden">Twitter</span>
                                            </a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Municipality.Soc_Facebook))
                                    {
                                        <li class="list-inline-item">
                                            <a class="p-1 text-white" href="@Municipality.Soc_Facebook" target="_blank">
                                                <svg class="icon icon-sm icon-white align-top">
                                                    <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-facebook"></use>
                                                </svg>
                                                <span class="visually-hidden">Facebook</span>
                                            </a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Municipality.Soc_Youtube))
                                    {
                                        <li class="list-inline-item">
                                            <a class="p-1 text-white" href="@Municipality.Soc_Youtube" target="_blank">
                                                <svg class="icon icon-sm icon-white align-top">
                                                    <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-youtube"></use>
                                                </svg>
                                                <span class="visually-hidden">YouTube</span>
                                            </a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Municipality.Soc_Telegramm))
                                    {
                                        <li class="list-inline-item">
                                            <a class="p-1 text-white" href="@Municipality.Soc_Telegramm" target="_blank">
                                                <svg class="icon icon-sm icon-white align-top">
                                                    <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-telegram"></use>
                                                </svg>
                                                <span class="visually-hidden">Telegram</span>
                                            </a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Municipality.Soc_Instagram))
                                    {
                                        <li class="list-inline-item">
                                            <a class="p-1 text-white" href="@Municipality.Soc_Instagram" target="_blank">
                                                <svg class="icon icon-sm icon-white align-top">
                                                    <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-instagram"></use>
                                                </svg>
                                                <span class="visually-hidden">Instagram</span>
                                            </a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Municipality.Soc_Whatsapp))
                                    {
                                        <li class="list-inline-item">
                                            <a class="p-1 text-white" href="@Municipality.Soc_Whatsapp" target="_blank">
                                                <svg class="icon icon-sm icon-white align-top">
                                                    <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-whatsapp"></use>
                                                </svg>
                                                <span class="visually-hidden">Whatsapp</span>
                                            </a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Municipality.Soc_RSS))
                                    {
                                        <li class="list-inline-item">
                                            <a class="p-1 text-white" href="@Municipality.Soc_RSS" target="_blank">
                                                <svg class="icon icon-sm icon-white align-top">
                                                    <use xlink:href="css/bootstrap-italia/svg/sprites.svg#it-rss"></use>
                                                </svg>
                                                <span class="visually-hidden">RSS</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                                @if (Municipality.ShowGreenSupportNumber == true)
                                {
                                    <h3 class="footer-heading-title footer-heading-second-row">@TextProvider.Get("AGID_FRONTEND_SUPPORT")</h3>
                                    <a href="tel:+39800500552">
                                        <div class="green-number">
                                            @if (System.Globalization.CultureInfo.CurrentCulture.Name.Contains("de-DE"))
                                            {
                                                <img src="images/AGID/Gruene_Nummer_DE.svg" alt="Comunix Grüne Nummer">
                                            }
                                            else
                                            {
                                                <img src="images/AGID/Gruene_Nummer_IT.svg" alt="Comunix numero verde">
                                            }
                                        </div>
                                    </a>
                                }
                            </div>
                        }
                        <div class="col-md-3 footer-items-wrapper">
                            <h3 class="footer-heading-title">@TextProvider.Get("LANDING_ONLINE_DIENSTE")</h3>
                            <ul class="footer-list">
                                @if (AktiveApps != null && AktiveApps.Select(p => p.APP_Application_ID).ToList().Contains(Applications.Forms)) //ONLINE DIENSTE
                                {
                                    <li>
                                        <a @onclick="GoToApplications">@TextProvider.Get("FRONTEND_DASHBOARD_APPLICATIONS")</a>
                                    </li>
                                }
                                @if (AktiveApps != null && AktiveApps.Select(p => p.APP_Application_ID).ToList().Contains(Applications.Canteen)) //MENSA
                                {
                                    <li>
                                        <a @onclick="GoToMensa">@TextProvider.Get("FRONTEND_DASHBOARD_MENSA")</a>
                                    </li>
                                }
                                @if (AktiveApps != null && AktiveApps.Select(p => p.APP_Application_ID).ToList().Contains(Applications.Rooms)) //Raumbuchung
                                {
                                    <li>
                                        <a @onclick="GoToRooms">@TextProvider.Get("FRONTEND_DASHBOARD_ROOMS")</a>
                                    </li>
                                }
                                @if (AktiveApps != null && AktiveApps.Select(p => p.APP_Application_ID).ToList().Contains(Applications.Mantainences)) //Meldungen
                                {
                                    <li>
                                        <a @onclick="GoToNotifications">@TextProvider.Get("FRONTEND_DASHBOARD_NOTIFICATIONS")</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 footer-items-wrapper">
                            <div class="footer-bottom">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (SessionWrapper != null && SessionWrapper.CurrentUser != null)
            {
                <div style="display: none !important" id="UserID">
                    @SessionWrapper.CurrentUser.ID
                </div>
            }
        </footer>
    }
}