@page "/Hp/Appointment"

@using ICWebApp.Components.Components.Homepage.Frontend.Appointment
@using ICWebApp.Components.Components.Homepage.Frontend.Questionnaire
@using ICWebApp.Components.Components.Homepage.Frontend.Help

@if (Appointments != null && Appointments.Where(p => p.Highlight == true).Any())
{
    <div class="container py-5">
        <h2 class="title-xxlarge mb-4">@TextProvider.Get("FRONTEND_HOMEPAGE_HIGHLIGHT")</h2>
        <div class="row g-4">
            @foreach (var n in Appointments.Where(p => p.Highlight == true).OrderBy(p => p.DateFrom).ToList())
            {
                <AppointmentItemLarge Appointment="n"></AppointmentItemLarge>
            }
        </div>
    </div>
}
@if (Appointments != null)
{
    <div class="bg-grey-card py-5">
        <button type="submit" class="d-none"></button>
        <div class="container">
            <h2 class="title-xxlarge mb-4">
                @TextProvider.Get("FRONTEND_HOMEPAGE_ALL_APPOINTMENTS")
            </h2>
            <div class="cmp-input-search">
                <div class="form-group autocomplete-wrapper mb-2 mb-lg-4">
                    <div class="input-group">
                        <label for="autocomplete-autocomplete-three" class="visually-hidden">@TextProvider.Get("FORMS_FRONTEND_SEARCH_BY_KEYWORD")</label>
                        <input @bind-value="SearchText" type="search" class="autocomplete form-control" placeholder="@TextProvider.Get("FORMS_FRONTEND_SEARCH_BY_KEYWORD")" id="autocomplete-autocomplete-three" name="autocomplete-three">

                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-3">@TextProvider.Get("FORMS_FRONTEND_SEARCH_BUTTON")</button>
                        </div>

                        <span class="autocomplete-icon" aria-hidden="true">
                            <svg class="icon icon-sm icon-primary">
                                <use href="css/bootstrap-italia/svg/sprites.svg#it-search"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>            
            <div class="row g-4 row-overflow" id="load-more">
                @foreach (var n in Appointments.Where(p => (SearchText == null || 
                                                           (p.Title != null && p.Title.ToLower().Contains(SearchText.ToLower())) ||
                                                           (p.DescriptionShort != null && p.DescriptionShort.ToLower().Contains(SearchText.ToLower())))
                                                     ).OrderBy(p => p.DateFrom).Take(MaxCounter).ToList())
                {
                    <AppointmentItemLarge Appointment="n"></AppointmentItemLarge>
                }
            </div>

            @if (MaxCounter < Appointments.Where(p => (SearchText == null || 
                                                           (p.Title != null && p.Title.ToLower().Contains(SearchText.ToLower())) ||
                                                           (p.DescriptionShort != null && p.DescriptionShort.ToLower().Contains(SearchText.ToLower())))
                                                     ).Count())
            {
                <div class="d-flex justify-content-center mt-4" id="load-more-btn">
                    <button type="button" class="btn btn-outline-primary pt-15 pb-15 pl-90 pr-90 mb-30 mb-lg-50 full-mb text-button" @onclick="@ShowMore">
                        <span class="">@TextProvider.Get("HOMEPAGE_NEWS_SEARCH_MORE")</span>
                    </button>
                </div>
            }
            else
            {
                <p class="text-center text-paragraph-regular-medium mt-4 mb-0" >
                    @TextProvider.Get("HOMEPAGE_NEWS_NOTHING_MORE")
                </p>
            }
        </div>
    </div>
}